@{
    Layout = "_Layout";
}

<h1>Hello Clair! </h1>
<h2>Welcome to your stylist and client site</h2>
<h3><a href='/stylists'>Click here to view stylists and their information</a></h3>
<h3><a href='/stylists/new'>Click here to add a new stylist</a></h3>
