@{
    Layout = "_Layout";
}

<h1>Hello Clair! </h1>
<h2>Welcome to your stylist and client site</h2>
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See clients list", "Index", "Clients")</p> 